/**Limpa formatações padrão**/

*{
    margin:0;
    padding: 0;
}

body{
    font-size:16px;
    font-family:"Trebuchet Ms",Helvetica, sans-serif;
    background:#f3f3f3;
}

#navegacao{
    background:#fff;
    border-bottom:1px solid #d8d8d8;
    height:45px;
}

#area{
    width:720px;
    margin:0 auto;
    }

#area-principal{
     width:720px;
     margin:10px auto 10px auto;
     

    }   


#logo{
    float:left;
}
#menu{
    float:right;
    padding:10px 0;
}
a{
    text-decoration:none;
    padding: 5px 10px;
}
a:link{
    color:#838383;
}

a:visited{
    color:#838383
}

a:hover{
    color:#fff;
    background:#b9c941;
}


.verde{
    color:#b9c941;
}

#postagem{
    background:#fff;
    padding:10px;
    margin-bottom:10px;
}

.data-postagem{
    font-size:14px;
    border-bottom:1px solid #f4f4f4f4;
    display:block;
    padding-bottom:10px;
    margin-bottom:10px;

}

.img-postagem{
    float:left;
    margin:0 10px 5px 0;
}

.postado{
    padding-left:135px;
    display: block;
    margin-top:10px;
    

}

h2{
    color:#b9c941;
}


